[class^="layx-"] {
    user-select: none;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.layx-flex-box {
    display: flex;
}

.layx-box-hidden {
    display: none;
}

.layx-row-direction {
    flex-direction: row;
}

.layx-col-direction {
    flex-direction: column;
}

.layx-flex-item {
    flex: 1;
}

.layx-vertical-middle {
    align-items: center;
}

.layx-align-center {
    justify-content: center;
}

.layx-center-all {
    align-items: center;
    justify-content: center;
}

#layx-container.layx-disable-scroll, .layx-disable-scroll {
    overflow: hidden!important;
}