.layx-disable-icon {
    pointer-events: none;
}

.layx-svg {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
    display: inline-block;
    line-height: normal;
    pointer-events: none;
}