.layx-action-button {
    text-align: center;
}

.layx-action-button:hover {
    background-color: #e5e5e5;
}

.layx-action-button.layx-action-button-destroy:hover {
    background-color: #e81123;
    color: #fff;
}