.layx-animate {
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

.layx-animate-d3s {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes layx-animate-zoom-create {
    from {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    50% {}
}

@keyframes layx-animate-zoom-drag-to-normal {
    from {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    50% {}
}

@keyframes layx-animate-zoom-destroy {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 0;
        transform: scale3d(0.9, 0.9, 0.9);
    }
}

@keyframes layx-animate-zoom-to-min {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 0;
        transform: scale3d(0.9, 0.9, 0.9);
    }
}

@keyframes layx-animate-salver-slide-up {
    from {
        bottom: -45px;
    }
    to {
        bottom: 0;
    }
}

@keyframes layx-animate-salver-slide-down {
    from {
        bottom: 0;
    }
    to {
        bottom: -45px;
    }
}