[class^="layx-"] {
    user-select: none;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.layx-flexbox {
    display: flex;
}

.layx-flex-row {
    flex-flow: row;
}

.layx-flex-row-reverse {
    flex-flow: row-reverse;
}

.layx-flex-column {
    flex-flow: column;
}

.layx-flex-center {
    justify-content: center;
    align-items: Center;
}