.layx-iconfont {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 14px;
    display: inline-block;
    line-height: normal;
    pointer-events: none;
}