.layx-resize-bar>[class^="layx-resize-item-"] {
    position: absolute;
    z-index: 3;
    overflow: hidden;
    touch-action: none;
}

.layx-resize-item-top, .layx-resize-item-bottom {
    height: 6px;
    left: 6px;
    right: 6px;
}

.layx-resize-item-top {
    top: 0;
    cursor: n-resize;
}

.layx-resize-item-bottom {
    bottom: 0;
    cursor: s-resize;
}

.layx-resize-item-left, .layx-resize-item-right {
    width: 6px;
    top: 6px;
    bottom: 6px;
}

.layx-resize-item-left {
    left: 0;
    cursor: w-resize;
}

.layx-resize-item-right {
    right: 0;
    cursor: e-resize;
}

.layx-resize-item-left-top, .layx-resize-item-right-top, .layx-resize-item-left-bottom, .layx-resize-item-right-bottom {
    width: 6px;
    height: 6px;
}

.layx-resize-item-left-top {
    left: 0;
    top: 0;
    cursor: nw-resize;
}

.layx-resize-item-right-top {
    right: 0;
    top: 0;
    cursor: ne-resize;
}

.layx-resize-item-left-bottom {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
}

.layx-resize-item-right-bottom {
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.layx-resize-bar.layx-resize-bar-disabled>[class^="layx-resize-item-"] {
    cursor: default!important;
}