.layx-title-bar {
    min-width: 0;
}

.layx-title {
    font-size: 14px;
    padding: 0 5px;
    min-width: 0;
}

.layx-title .layx-label {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    word-wrap: break-word;
}