.layx-top-menu-bar {
    height: 25px;
    line-height: 25px;
}

.layx-top-menu-button {
    float: left;
    padding: 0 8px;
    font-size: 13px;
}

.layx-top-menu-button:hover {
    background-color: #e9e9e9;
}