.layx-window {
    position: relative;
    overflow: hidden;
}

.layx-window.layx-window-layer {
    position: fixed;
}

.layx-window.layx-animate-zoom-create {
    animation-name: layx-animate-zoom-create;
}

.layx-window.layx-animate-zoom-destroy {
    animation-name: layx-animate-zoom-destroy;
}

.layx-window.layx-animate-zoom-drag-to-normal {
    animation-name: layx-animate-zoom-drag-to-normal;
}

.layx-window.layx-animate-zoom-to-max, .layx-window.layx-animate-zoom-to-normal {
    transition: all 0.1s ease-in-out;
}