.layx-window {
    position: relative;
    overflow: hidden;
}

.layx-window.layx-window-layer {
    position: fixed;
}

.layx-window.layx-window-min {
    opacity: 0;
    display: none;
}

.layx-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    display: none;
}

.layx-drag-layer.layx-drag-layer-active {
    display: block;
}